/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
padding:0;
margin:0;
font-family: 'Lato', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- main --*/



.content{
    padding: 10px 10px 10px 10px;
    width: 100%;
}
.footer-grids{
    width: 140%;
	background: #282828;
    padding: 3em 3em;
}
p.footer-gd {
    color: #908F8F;
    font-weight: 500;
	font-size:14px;
}
p.footer-gd a {
	color:#fff;
}
p.footer-gd a:hover {
	color: #2e99ff;
}
.footer{
	float:left;
}
.footer h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}
.footer.one {
    width: 37%;
}

.footer.three {
    width: 23%;
}
.footer.one p{
	color:#908F8F;
	line-height:2em;
	font-size:14px;
}
.footer.two {
    width: 23%;
    margin: 0 8%;
}

.footer.two ul{
	margin:0;
	padding:0;
}
.footer.two ul li{
    text-decoration: underline;
    text-decoration-color: #fff;
	list-style-type:none;
	display:block;
    line-height: 1.5em;
	font-size:14px;
}
.footer.two ul li a{
color:#908F8F;
display:block;
}

.footer.two ul li a.fb{
    padding-bottom: 12px;
}
.footer.two ul li a.fb1{
    padding-bottom: 12px;
}

.footer.two ul li a.fb2 {
    padding: 0px 0 12px 3px;
}
.footer.two ul li a.fb3 {
     padding: 0px 0 12px 3px;
}
.footer.two ul li a.fb4 {
    padding: 0px 0 12px 3px;
}
.footer.three ul li {
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: 14px;
    line-height: 2.5em;
}
.footer.three ul li span {
    display: block;
}
.footer.three ul li:nth-child(1) {
    background: url('../images/icon2.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li:nth-child(2) {
    background: url('../images/icon3.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li a {
    background: url('../images/icon1.png') no-repeat 0px 6px;
    padding-left: 38px;
    display: block;
	color:#908F8F;
}
.copy-right-grids {
    width: 139%;
	padding: 20px 20px;
    background: #211E1E;
}
.copy-left{
	float:left;
}
.copy-right{
	float:right;
}
.copy-right ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
	font-size:13px;
}
.copy-right ul li:nth-child(1) {
    border: none;
}



.footer.two ul li a:hover,.copy-right ul li a:hover,.footer.three ul li a:hover{
	color:#2e99ff;
}
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.content {
		width: 73%;
	}
}
@media (max-width: 1366px){
	.footer.one {
		width: 38%;
	}
	.footer-grids {
		padding: 2.5em 2.5em;
	}
}


@media (max-width: 1080px){
	.content {
		width: 80%;
	}
	.footer h3 {
		font-size: 19px;
	}
	.copy-left {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
	.copy-right {
		float: none;
		text-align: center;
	}
	.footer.two ul li a.fb2 ,.footer.two ul li a.fb,.footer.two ul li a.fb1,.footer.two ul li a.fb3,.footer.two ul li a.fb4{
		padding: 10px 0 10px 38px;
	}
	.footer h3 {
		font-size: 18px;
	}

}
@media (max-width: 1024px){
	.footer-grids {
		padding: 2em 2em;
	}
	.content {
		width: 82%;
	}

}
@media (max-width: 991px){
	.footer.two {
		width: 27%;
		margin: 0 5%;
	}
	.footer.three {
		width: 25%;
	}
}
@media (max-width: 800px){
	.content {
		width: 88%;
	}
	.footer.one p {
		font-size: 13px;
	}
	.footer.two ul li {
		font-size: 13px;
	}
	.footer.three ul li {
		font-size: 13px;
	}
	.footer.three ul li:nth-child(1),.footer.three ul li:nth-child(2),.footer.three ul li a{
		padding-left: 32px;
	}
	.footer h3 {
		font-size: 16px;
	}
}
@media (max-width: 768px){
	.content {
		width: 90%;
	}
	p.footer-gd {
		font-size: 13px;
	}

}
@media (max-width: 736px){

	.footer.one {
		width: 35%;
	}
	.footer.two {
		width: 29%;
		margin: 0 4%;
	}
	.footer.three {
		width: 27%;
	}
}
@media (max-width: 667px){
	.footer.one {
		width: 100%;
	}
	.footer.two {
		width: 48%;
		margin: 0 4% 0 0;
	}
	.footer.three {
		width: 48%;
	}
	.footer.one {
		margin-bottom: 40px;
	}
}
@media (max-width: 640px){

	.footer-grids {
		padding: 2.5em 2.5em;
	}
}
@media (max-width: 600px){

}
@media (max-width: 568px){

}
@media (max-width: 480px){
	.footer-grids {
		padding: 1.5em 1.5em;
	}
	.copy-right-grids {
		padding: 20px 10px;
	}
	.copy-right ul li {
		padding: 0 10px;
	}
	p.footer-gd {
		line-height: 1.8em;
	}
	p.adam {
		margin-top: 9px;
	}

}
@media (max-width: 414px){
.footer.two {
    width: 100%;
}
.footer.three {
    width: 100%;
}
.footer h3 {
    margin-bottom: 18px;
}
.footer.one {
    margin-bottom: 0;
}
.footer.two {
    width: 100%;
    margin: 30px 0;
}
.footer-grids {
    padding: 2em 2em;
}

.copy-right ul li {
    line-height: 1.8em;
}
}
@media (max-width: 384px){

}
@media (max-width: 375px){

}
@media (max-width: 320px){

	.footer-grids {
		padding: 1em 1em;
	}

}
.a1 {
  border-radius: 4px;
  background-color: #3471C3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 1%;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
margin-right: 10px;
}

.a1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.a1 span:after {

  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.a1:hover span {
  padding-right: 25px;
}

.a1:hover span:after {
  opacity: 1;
  right: 0;
}

p{
font-size:large;
font-family:sans-serif;
}

.head{
text-align:left;
font-size:40px;
padding-top:30px;
padding-left:5px;
color:#C51162;

}
.link{
font-size:x-large;
}
.link:hover{
background-color:#FFFF00;
font-size:xx-large;
color:red;
}

.scroll-top-wrapper {
    position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
   
  background:url('arrow.png');
  
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}


            
h1{
    margin:0;
    text-align: center;
}

          
            #canvas{
                width:100%;
                height:155%;
                
                position:absolute;
                top:0;
                left:0;
                background-color: #1a1724;               
            }
            .canvas-wrap{
                position:relative;
                
            }
            div.canvas-content{
                position:relative;
                z-index:400;
                color:#fff;
                text-align:center;
                padding-top:1.5%;
                font-size: 200%;
            }

            #nit {
              font-size: 90%;
              font-weight: 600;
              padding-top: 1%;
            }

            #logo {
              margin-top: 0px;
              margin-bottom: 1.2%;
              padding-left: 16%;
              padding-top: 0px;
              float: left;
            }

            #acm {
              font-weight: 700;
              font-size: 140%;
            }
            #nit, #acm {
              color: #081347;
              margin-right: 20%;


              font-family: 'Josefin Sans', sans-serif;
            }
#nav {
  background-color: #000;
}
            
ul.parent {
  list-style-type: none;
  margin-left: 5%;
  bottom: 2%;
  background-color: #000;
}
  

  ul.parent > li {

  position: relative;
  float: left;
    padding-right: 50%;
   
  text-align: center;
  width: 14.5%;
  font-size: 130%;
  cursor: pointer;
  background-color: #3471C3; 
  color: #FFF;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding:0.5em 0 0.5em 0;
  }

  ul.parent2 > li {
 
  position: relative;
  float: left;
  text-align: center;
  width: 3%;
  
  cursor: pointer;
 
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding:0.5em 0 0.5em 0;
  transition:all 0.4s;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  }

  
 a {
     padding:0.2em 0.5em 0.2em 0.5em;
  text-decoration: none;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}
img.icon{
  background-color:rgba(255, 255, 255, 0.4);
  padding:2.2%;
  margin-left: 1%;
  border-radius:100%;
  margin-top: 0px;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
  transition:all 0.8s;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  }

  .headings {
    margin-top: 2%;
  }
.fbi{
  background-color:#0D3287;
  color: #fff;
}
.gp{
  background-color: #951D11;
  color: #fff;
}
.tw{
  background:#59C8F1;
}


#s {
  float: right;
  margin-right: 12%;
}

#hr{
    width: 20%;
   color: #3471C3;
background-color: #3471C3;
height: 5px;
    margin-left: 3%;
    border-color: #000;
    border-width: 90%;
  }
  
  a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a:hover span {
  padding-right: 25px;
}

a:hover span:after {
  opacity: 1;
  right: 0;
}

